name: Build ARM64 wheel

on:
 push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-arm64:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Enable QEMU
        uses: docker/setup-qemu-action@v3

      - name: Build wheel ARM64
        run: |
          docker run --rm --platform linux/arm64 \
            -v ${{ github.workspace }}:/io \
            quay.io/pypa/manylinux_2_28_aarch64 \
            bash -c "
              yum install -y openssl-devel pkgconfig
              /opt/python/cp311-cp311/bin/pip install --upgrade pip maturin
              curl https://sh.rustup.rs -sSf | sh -s -- -y
              source \$HOME/.cargo/env
              export OPENSSL_DIR=/usr
              export PKG_CONFIG_ALLOW_CROSS=1
              cd /io/BinaryOptionsToolsV2
              /opt/python/cp311-cp311/bin/maturin build --release --target aarch64-unknown-linux-gnu --out /io/wheels
            "

      - name: Upload wheel
        uses: actions/upload-artifact@v4
        with:
          name: arm64-wheel
          path: wheels/

