name: Build ARM wheel

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-aarch64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build ARM wheel
        uses: PyO3/maturin-action@v1
        with:
          working-directory: BinaryOptionsToolsV2
          target: aarch64
          manylinux: 2014
          args: --release --out dist

      - name: Upload wheel
        uses: actions/upload-artifact@v4
        with:
          name: wheel-aarch64
          path: BinaryOptionsToolsV2/dist/*.whl

