name: Build wheels

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  wheels:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [x86_64, aarch64]

    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          working-directory: BinaryOptionsToolsV2
          target: ${{ matrix.target }}
          args: --release --manylinux 2014

